

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /*  transition: 2s linear; */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);

}

/*logo*/
.logo {
    font-size: 24px;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.logo img {
    width: 120px;
    height: auto;
    margin-right: 5px;
}

/* header navbar ancher tag */
header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: #fdc5f5;
    font-weight: 500;
    transition: none;
}

/* header navbar icons anchor tag */
header .icons a {
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: #fb6f92;
    font-weight: 600;
    transition: none;
}

/* header input */
header #toggler {
    display: none;
}

/* header input icons */

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: none;
}


/* Media Quires */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #eee;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background-color: #fff;
        border: 1rem solid rgba(0, 0, 0, 0.1);
        display: block;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

/* header section end */