/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FFC6C6; /* White background */
    margin: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

/* Orders Container //#F0A8D0;*/
.orders-container {
    background: #FFC6C6; 
    
    padding: 2%;
    width: 98%;
    max-width: 100%;
    text-align:left;
}

/* Orders Wrapper */
.orders-wrapper {
    display: flex;
    gap: 15px;
    padding: 20px;
    justify-content: center;;
    
    /* flex-wrap: wrap;  */
    /* flex-direction: row; */
}

/* Title */
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-left: 20px;
    border-bottom: 2px solid #f7b5ca;
    color: white;
    text-shadow: 1px 1px 8px #333;
    font-size: 30px;
}

/* Order Cards */
.order-card {
    background: #FFEBD4; 
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.order-card h3 {
    margin: 0;
    color: #333;
}

.order-card p {
    margin: 5px 0;
    font-size: 14px;
}

/* Status Tags */
.status {
    display: inline-block;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    text-transform: uppercase;
    color: #090909; 
}

/* Status Colors */
.processing {
    background: #F0A8D0;
}

.in-transit {
    background: #ca6b89;
}

.delivered {
    color: white;
    background: #880e0e;
}

/* Delivery Text */
.delivery {
    font-weight: bold;
    color: #111110; 
}

/* Responsive Design */
@media (max-width: 768px) {

    .orders-wrapper {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .order-card {
        width: 40%;
        max-width: 320px;
    }
}
